@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section {
    background-color: #10B981;
    display: flex;
}

.text-fafafa {
    color: #fafafa;
}

.bg-e5e5e5 {
    background-color: #e5e5e5;
}

.text-5d5d5d {
    color: #5d5d5d;
}

.text-10b981 {
    color: #10B981;
}

.bg-10b981 {
    background-color: #10B981;
}

.bg-bcbec0 {
    background-color: #bcbec0;
}

.bg-d9d9d9 {
    background-color: #d9d9d9;
}

.bg-fafafa {
    background-color: #fafafa;
}

.bg-d1d1d1 {
    background-color: #d1d1d1;
}

.bg-modal {
    background-color: rgba(217, 217, 217, 0.7);
}

.otp-input {
    margin: 2rem 0.3rem 1.5rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
    outline: none;
    font-weight: 600;
}

.otp-input[type=text] {
    border: #10B981 3px solid;
    font-size: 1.5rem;
}

.button-logo {
    border: #10B981 4.5px solid;
    border-radius: 3rem;
}

#triangle {
    border: #5d5d5d solid;
    border-width: 0 0.5rem 0.5rem 0;
    display: inline-block;
    padding: 1rem;
    transform: rotate(135deg);
}

#three-dot {
    list-style-type: none;
}

#three-dot li {
    font-size: 2rem;
    background: #5d5d5d;
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
    border-radius: 100%;
}

.bg-wallpaper {
    background-image: url("./assets/images/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #becfc9;
}

.chat-navbar {
    padding: 2.87rem 0;
}